<html ng-app="mainApp">
	<head>
		<style>
		body {
				font-family: Monospace;
				background-color: #000;
				color: #fff;
				margin: 0px;
				overflow: hidden;
			}
			
			#stats { position: absolute; top:30; left: 30 }
			#stats #fps { background: transparent !important }
			#stats #fps #fpsText { color: #aaa !important }
			#stats #fps #fpsGraph { display: none }
		</style>
        <script src="js/jquery-2.0.3.min.js"></script>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
        <script type="text/javascript" src="lib/main.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="lib/bootstrap-3.1.1/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="lib/bootstrap-3.1.1/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="lib/bootstrap-3.1.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="lib/moment.min.js"></script>
        <script type="text/javascript" src="lib/three.min.js"></script>
        <script type="text/javascript" src="lib/threejs/Detector.js"></script>
        <script type="text/javascript" src="lib/screenfull.min.js"></script>

    </head>

    <body ng-controller="mainCtrl" class="container">
        <div class="container" ng-hide="gameRunning">
            <!-- Static navbar -->
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" >Puzzle Ball</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active" ><a href="https://github.com/dougellison/dougellison.github.io">GitHub Project</a></li>
                        <li class="dropdown h2">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">New Game<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="newGame()">Classic</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- Single button -->
        <div class="btn-group btn-primary" ng-show="gameRunning" style="position: absolute; top: 10px; left: 10px;">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Game <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="pause()">Pause</a></li>
                <li><a href="#" ng-click="toggleFullscreen()"><span ng-if="isFullScreen">Exit</span><span ng-if="!isFullScreen">Enter</span> Full Screen</a></li>

                <li><a href="#" ng-click="resetLevel()">Reset Level</a></li>
                <li><a href="#" ng-click="quit()">Quit</a></li>
            </ul>
        </div>
        <div class="container" ng-hide="gameStarted">
            <div class="page-header">
                <h1>Welcome to Puzzle ball.</h1>
            </div>
            <h3>
                To begin select New Game from the menu above. Otherwise scroll down for details
            </h3>

            <p>
                Puzzle Ball is a web based mobile 3D game.  It is written using:
                <ul>
                    <li><a href="http://threejs.org" target="_blank">ThreeJS</a></li>
                    <li><a href="http://angularjs.org" target="_blank">AngularJS</a></li>
                    <li><a href="http://getbootstrap.com" target="_blank">Bootstrap</a></li>
                    <li><a href="http://jquery.com" target="_blank">JQuery</a></li>
                </ul>

                Using ThreeJS it tries to render first using WebGL (best performance) followed by Canvas.  At this point in time it does best guess with regards to orientation and device motion.
            </p>
        </div>




		<!--<button id="move">Move left / right</button>
		<input id ="checkbox" type="checkbox"/> Move left -->
        <div class="container" ng-if="gameStarted" ng-switch="gameState">

            <div ng-switch-when="rendererSelection" class="jumbotron">
                <span ng-if="!renderSupport">Unfortunately your phone does not appear to support either Canvas or WebGL rendering. Hopefully it will in the future.  Come back and try again soon!</span>
                <span ng-if="renderSupport">You phone supports : <b>{{renderSupport}}</b> rendering. Press <button class="btn btn-primary btn-lg" ng-click="setGameState('deviceMotionSupport')">Next</button> to continue</span>

            </div>

            <div ng-switch-when="deviceMotionSupport" class="jumbotron" ng-init="checkDeviceMotionSupport()">
                <span ng-if="deviceMotionSupport">Your device supports the JavaScript event DeviceMotion! Press <button ng-click="setGameState('beginCalibration')" class="btn btn-primary btn-lg">Next</button> to begin calibration</span>
                <span ng-if="!deviceMotionSupport">Unfortunately your device doesn't support the JavaScript event DeviceMotion so Puzzle Ball cannot be played on your mobile device.  Try back soon!</span>
            </div>
            <div ng-switch-when="beginCalibration" class="jumbotron">
                Rotate your phone to how you wish to play and then select next <button class="btn btn-primary btn-lg" ng-click="beginCalibration()">Next</button>
            </div>
            <div ng-switch-when="tiltLeft" class="jumbotron">
                Tilt your phone left
            </div>
            <div ng-switch-when="tiltRight" class="jumbotron">
                Tilt your phone right
            </div>
            <div ng-switch-when="tiltUp" class="jumbotron">
                Tilt your phone up
            </div>
            <div ng-switch-when="tiltDown" class="jumbotron">
                Tilt your phone down
            </div>
            <div ng-switch-when="tiltCalibrationCompleted" class="jumbotron" ng-init="startLevelEvent()">
                Hold your phone in what you want to be the level position. This is the position where the ball should not roll in any direction.  Press <button ng-click="setLevelPosition()" class="btn btn-lg btn-primary">Next</button>
            </div>
            <div ng-switch-when="calibrated" class="jumbotron">
                The game is now calibrated click <button class="btn btn-primary" ng-click="startGame()">Start Game</button> to continue
            </div>
            <div id="mainDrawLocation" ng-switch-when="gameLoaded" style="background-color: #000000"></div>
        </div>

		
	</body>

	<!--<script src="js/threejssource/three.js"></script> -->
	<!--<script src="js/threejs/optimer_bold.typeface.js"></script> -->
	<!--<script src="js/threejs/Detector.js"></script> -->
	<!--<script src="js/threejs/stats.min.js"></script> -->
	<!--<script src="js/threejs/optimer_regular.typeface.js"></script> -->
	<!--<script src="js/screenfull.min.js"></script>-->
	
	<script>
		if (location.search && location.search.indexOf('laptop') != -1) {
		$.getScript('http://remote-tilt.com/js/device-motion-polyfill.js?key=someKey');
		//$.getScript('http://remote-tilt.com/js/device-motion-polyfill.js');
		}

//		if (!window.DeviceOrientationEvent) {
//			alert('Hey it does not work');
//		}
		//if (window.DeviceOrientationEvent) {
		//	alert('Hey it does work3');
		//}

		//window.addEventListener('orientationchange', function() {
		//	alert('HOLY ROTATING SCREENS BATMAN:' + window.orientation + " " + screen.width);
		//}, false);


		</script>
	 <!--<script src="http://remote-tilt.com/js/device-motion-polyfill.js?key=951"></script>
	 
	 
	
</html>