<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>CS5780 Project Presentation</title>

		<meta name="description" content="A presentation on status for CS5780">
		<meta name="author" content="Doug Ellison">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.min.css">
		<link rel="stylesheet" href="css/theme/default.css" id="theme">
		<!-- <link rel="stylesheet" href="css/theme/beige.css" id="theme"> -->

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
	
	
		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">

				<section>
					<h1>Doug Ellison</h1>
					<h3>Midterm Project Update</h3>
				</section>

				<section>
					<h3>If you want to follow along</h3>
					Slides: <br>
					<ul>
						<li><a href="http://dougellison.github.io">dougellison.github.io</a></li>
						<li><a href=http://bit.ly/1hsGSzz">bit.ly/1hsGSzz</a></li>
						<li><img style="position:absolute; clip:rect(10px,154px,150px,10px);"src="./images/qrCodeT.gif" /></li>
					</ul>
				</section>
				<section>
					<img style="width:100%"src="./images/qrCodeT.gif" />
				</section>
				
				<section>
					<h3>Plan of Attack</h3>
					<ul>
						<li>Project 1 Goals</li>
						<li>Project 1 Complications</li>
						<li>Project 1 Results thus far</li>
						<li>Project 2?????</li>
						<li>Why is there a project 2 *oh noes*</li>
					</ul>
				</section>
				<section>
					<h3>Project 1 Goals</h3>
					<ul>
						<li>Dynamically Load Content</li>
						<li>Don't interrupt play</li>
						<li>Use a JavaScript Framework for WebGL (ThreeJS)</li>
						<li>Build a giant world (Found one! Ironbane)</li>
					</ul>
				</section>
				<section>
					<section>
						<h3>Project 1 Complications</h3>
						<ul>
							<li>JavaScript Single Threaded</li>
							<li>Web Worker Data passing</li>
							<li>Serailization performance</li>
							<li>JavaScript Prototype</li>
						</ul>
					</section>
					<section>
						<h3>JavaScript Single Threaded</h3>
						<ul>
							<li>Animation Loop</li>
							<li>Render Window ~ 33.3 ms</li>
							<li>Incremental Loading</li>
						</ul>
					</section>
					<section>
						<h3>Web Worker Data Passing</h3>
						<ul>
							<li>String v.s. Binary Array</li>
							<li>Binary Array large array of numbers</li>
						</ul>
					</section>
					<section>
						<h3>Serialization Performance</h3>
						<ul>
							<li>Poor</li>
							<li>To and From</li>
							<li>Large Sphere 200 Radius 200 Segments / 200 Rings</li>
							<li>~50ms</li>
						</ul>
					</section>
					<section>
						<h3>JavaScript Prototype</h3>
						<ul>
							<li>Add behavior</li>
							<li>Inheritance</li>
							<li>Doesn't survive Serialization</li>
						</ul>
					</section>
				</section>
				<section>
					<section>
						<h3>Results thus far</h3>
					</section>
					<section>
						<img style="width:100%" src="./images/matchFire.gif"/>
					</section>
					<section>
						<h3>Can it be done?</h3>
						<ul>
							<li>Yes... Probably</li>
							<li>Can existing frameworks be used? Probably Not</li>
							<li>How could you do it?</li>
						</ul>
					</section>
					<section>
						<h3>Framework Requirements</h3>
						<ul>
							<li>All calls time limited</li>
							<li>Stream all results from web worker</li>
							<li>Use binary data only</li>
							<li>Time all functions</li>
						</ul>
					</section>
				</section>

					
				<section>
					<h3>Why use it?</h3>
					<ul>
						<li>Client Side means responsive</li>
						<li>Its Comprehensive</li>
							<ul>
								<li>Built in support for RESTFul operations</li>
								<li>Vast templating possibilities</li>
								<li>Testable</li>
							</ul>
						<li>Dependency Injection</li>
						<li>Very large active community <a href="http://angular-ui.github.io/" target="blank">http://angular-ui.github.io/</a></li>
						<li>Lots of people use it <a href="http://builtwith.angularjs.org/" target="blank">http://builtwith.angularjs.org/</a></li>
						<li>Two Way data binding</li>
						<li>Create custom components</li>
					</ul>
				</section>
				
				<section>
					<section>
						<h3>How does it compare to BackboneJS</h3>
						<br>
						<p>Below are excerpts directly from the BackboneJS website <a href="http://backbonejs.org/#faq">http://backbonejs.org/#faq</a></p>
						<ul>
							<li>View agnostic</li>
							<li>Goal is to be a library</li>
							<li>Avoids Two way data-binding</li>
							<li>The focus is on supplying you with helpful methods to manipulate and query your data, not on HTML widgets or reinventing the JavaScript object model.</li>
							<li>HTML and Logic are completely separated</li>
						</ul>
					</section>
					<section>
						<h3>Application Comparison</h3>
						<p>One of the best ways to evaluate a framework or library is to implement a simple application.  Just such a thing already exists for the most popular of web libraries we'll be covering <a href="http://todomvc.com/" target="blank">ToDoMVC</a>
						</p>
					</section>
					<section>
						<h3>Input Section</h3>
						<pre>
							<code>
<!-- Backbone -->
<header id="header">
  <h1>todos</h1>
  <input id="new-todo" placeholder="What needs to be done?" autofocus>
</header>

<!--Angular -->
<header id="header">
  <h1>todos</h1>
  <form id="todo-form" ng-submit="addTodo()">
    <input id="new-todo" ng-model="newTodo" placeholder="What needs to be done?" autofocus>
  </form>
</header>
							</code>
						</pre>
					</section>
					<section>
						<h3>Another Example</h3>
						<pre >
							<code data-trim style="width:1300px; height:700px;margin-left:-300px">
<!-- Backbone -->
<div id="main">
    <input id="toggle-all" type="checkbox">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list"></ul>
</div>

<!--Angular -->
<div id="main" ng-show="todos.length" ng-cloak>
    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="markAll(allChecked)">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
        <li ng-repeat="todo in todos | filter:statusFilter" ng-class="{completed: todo.completed, editing: todo == editedTodo}">
            <div class="view">
                <input class="toggle" type="checkbox" ng-model="todo.completed">
                <label ng-dblclick="editTodo(todo)">{{todo.title}}</label>
                <button class="destroy" ng-click="removeTodo(todo)"></button>
            </div>
            <form ng-submit="doneEditing(todo)">
                <input class="edit" ng-model="todo.title" todo-escape="revertEditing(todo)" todo-blur="doneEditing(todo)" todo-focus="todo == editedTodo">
            </form>
        </li>
    </ul>
</div>
						</code>
						</pre>
					</section>
					<section>
						<h3>Backbone View</h3>
						<p>As it turns out Backbones insistence on not having anything to do with DOM manipulation splits the HTML and generation apart.</p>
						<pre>
							<code>
// The DOM element for a todo item...
app.TodoView = Backbone.View.extend({
//... is a list tag.
tagName:  'li',

// Cache the template function for a single item.
template: _.template($('#item-template').html()),

// The DOM events specific to an item.
events: {
  'click .toggle': 'toggleCompleted',
  'dblclick label': 'edit',
  'click .destroy': 'clear',
  'keypress .edit': 'updateOnEnter',
  'blur .edit': 'close'
},
							</code>
						</pre>
					</section>
					<section>
						<h3>Item Template</h3>
						<pre>
							<code>
<script type="text/template" id="item-template">
  <div class="view">
    <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
    <label><%- title %></label>
    <button class="destroy"></button>
  </div>
  <input class="edit" value="<%- title %>">
</script>
							</code>
						</pre>
					</section>
					<section>
						<h3>Questions so far?</h3>
					</section>
				</section>
				<section>
					<section>
						<h3>Controllers</h3>
						<ul>
							<li>Provide Encapsulation</li>
							<li>Place to store business logic</li>
							<li>Service References</li>
							
						</ul>	
					</section>
					<section>
					<h3><a href="http://dougellison.github.io/examples/controller-example" target="blank">Controller Example</a></h3>
						<pre>
							<code>
var controllers = angular.module('myApp.controllers', []);
controllers.controller('Controller1', function($scope) {
  $scope.helloMessageOne = "Hello from Controller 1";
})
controllers.controller('Controller2', function($scope) {
  $scope.helloMessageOne = "Hello from Controller 2";
})
<!-- HTML -->
<div ng-controller="Controller1">
  {{helloMessageOne}}
</div>
<div ng-controller="Controller2">
  {{helloMessageOne}}
</div>

							</code>
						</pre>
					</section>
				</section>
				<section>
					<section>
						<h3>$Scope</h3>
							<ul>
								<li>What gets exposed to the page</li>
								<li>Bound within controller</li>
								<li>Supports Watches and what AngularJS uses to know things have changed</li>
							</ul>
					</section>
					<section>
						<pre>
							<code>
controllers.controller('Controller1', function($scope) {
  $scope.helloMessageOne = "Hello from Controller 1";
  $scope.sayHi = function() {
    alert('Hello there');
  }
  
  $scope.object = {};
  $scope.object.attribute = "Attribute";
  
  $scope.attribute = "Some Value";
})	
<!--HTML CODE-->
{{helloMessageOne}}
<button ng-click="sayHi()">Click me to say hello</button>
							</code>
						</pre>
					</section>
				</section>
				<section>
					<section>
						<h3>Strongest Attributes</h3>
						<ul>
							<li>Two Way Data Binding</li>
							<li>Ties Data to View</li>
							<li>Directives</li>
						</ul>
					</section>
					<section>
						<h3>What is Two way data binding?</h3>
						<a href="http://dougellison.github.io/examples/data-binding" target="blank">Data-Binding Example</a>
					</section>
					<section>
						<h3>Directives DUN DUN DUNNNN</h3>
							<ul>
							<li>What is it?
								<ul>
									<li>Allow for the generation of customized HTML elements</li>
									<li>Can be attributes / classes / or completely new elements</li>
								</ul>
							</li>
							<li>Why is it so cool?
								<ul>
									<li>Reusable</li>
									<li>Extremely flexible</li>
									<li>Sky is the limit with what you can do with them</li>
								</ul>
							</li>
							<li><a href="http://dougellison.github.io/examples/directive-example" target="blank">Demo time!</a></li>	
							</ul>
							
					</section>
				</section>
			</div>
		</div>
		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/search/search.js', async: true, condition: function() { return !!document.body.classList; } }
					// { src: 'plugin/remotes/remotes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>

